
body:nth-child(2){
  background-color:#acacac;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
}
.boxGame{
  margin: 2rem 0;
}
.destino {
  border: 2px solid black;
}
.boxGame {
  display: flex;
  align-items: end;
}
@media screen and (min-width:760px){

body:nth-child(2) {
  background-color:#ccc;
  display:flex;
  flex-direction:column;
  text-align:left;
  align-items:start;
}
}
