
body:nth-child(2){
  background-color:#acacac;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  margin: 0 2rem;
}
.barras{
  margin-right: 1rem;
  background-color:red;
  color: #ffffff;
  text-align: center;
}

.boxGame{
  display: flex;
  align-items: flex-end;
  margin: 2rem 0;
  padding: 1rem;
  border: 2px solid green;
}
.destino {
  border: 2px solid black;
}
@media screen and (min-width:760px){

body:nth-child(2) {
  background-color:#ccc;
  display:flex;
  flex-direction:column;
  text-align:left;
  align-items:start;
  margin: 0 2rem;
  }
}
